In [8]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [9]:
data = pd.read_csv('Preprocessed.csv')
data.sample(5)

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,StockOptionLevel,WorkLifeBalance,YearsWithCurrManager,EducationField_Medical,...,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,BusinessTravel_Non-Travel,BusinessTravel_Travel_Rarely,Department_Research & Development,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Attrition
1820,0.226256,4,2,2,3,0.332534,0,3,0.255046,0,...,0,0,0,0,1,0,0,0,1,1
683,0.166667,3,2,1,2,0.090313,3,3,0.000000,0,...,0,0,0,0,1,0,0,1,0,1
730,0.285714,2,4,3,1,0.669433,3,2,0.500000,0,...,0,0,1,0,1,1,0,1,0,0
787,0.880952,4,3,3,2,0.641130,1,3,0.142857,0,...,0,1,0,0,0,1,0,1,0,0
1377,0.738095,2,3,5,4,0.251512,0,3,0.214286,0,...,0,0,1,0,0,1,0,1,0,0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 21 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                2466 non-null   float64
 1   EnvironmentSatisfaction            2466 non-null   int64
 2   JobInvolvement                     2466 non-null   int64
 3   JobLevel                           2466 non-null   int64
 4   JobSatisfaction                    2466 non-null   int64
 5   MonthlyIncome                      2466 non-null   float64
 6   StockOptionLevel                   2466 non-null   int64
 7   WorkLifeBalance                    2466 non-null   int64
 8   YearsWithCurrManager               2466 non-null   float64
 9   EducationField_Medical             2466 non-null   int64
 10  JobRole_Healthcare Representative  2466 non-null   int64
 11  JobRole_Manager                    2466 non-null   int64
 12  JobRole_Manufacturing Director     2466 non-null   int64
 13  JobRole_Research Director          2466 non-null   int64
 14  BusinessTravel_Non-Travel          2466 non-null   int64
 15  BusinessTravel_Travel_Rarely       2466 non-null   int64
 16  Department_Research & Development  2466 non-null   int64
 17  MaritalStatus_Divorced             2466 non-null   int64
 18  MaritalStatus_Married              2466 non-null   int64
 19  MaritalStatus_Single               2466 non-null   int64
 20  Attrition                          2466 non-null   int64
dtypes: float64(3), int64(18)
memory usage: 404.7 KB

### Split Data

In [11]:
# memisahkan feature dengan target
x = data.drop(columns=['Attrition'])
y = data[['Attrition']]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42) #memisahkan data train dan test dengan skala 70:30

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((1726, 20), (740, 20), (1726, 1), (740, 1))

## Modelling

### Supervised Learning

In [30]:
#Import model
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

#mengecek metriks akurasi
from sklearn.metrics import accuracy_score

In [31]:
#model
lr = LogisticRegression()
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [32]:
#cek akurasi model
for i in [lr, knn, dt, rf]:
    i.fit(x_train, y_train)
    
    y_pred = i.predict(x_test)
    
    print(i.__class__.__name__, ':', accuracy_score(y_test, y_pred))

LogisticRegression : 0.827027027027027
KNeighborsClassifier : 0.8513513513513513
DecisionTreeClassifier : 0.8
RandomForestClassifier : 0.9013513513513514

dari beberapa model yang dicoba model Random Forest memiliki tingkat akurasi yang paling tinggi yaitu sekitar 89%

In [23]:
#menambahkan metriks lain
from sklearn.metrics import precision_score, recall_score, f1_score, roc_auc_score

In [24]:
def eval_class(model):
    y_pred = model.predict(x_test)
    y_pred_train = model.predict(x_train)
    y_pred_proba = model.predict_proba(x_test)
    y_pred_proba_train = model.predict_proba(x_train)
    
    print("Accuracy (Test Set): %.2f" % accuracy_score(y_test, y_pred))
    print("Precision (Test Set): %.2f" % precision_score(y_test, y_pred))
    print("Recall (Test Set): %.2f" % recall_score(y_test, y_pred))
    print("F1-Score (Test Set): %.2f" % f1_score(y_test, y_pred))
    
    print("roc_auc (test-proba): %.2f" % roc_auc_score(y_test, y_pred_proba[:, 1]))
    print("roc_auc (train-proba): %.2f" % roc_auc_score(y_train, y_pred_proba_train[:, 1]))

In [26]:
#evaluasi model random forest
rf.fit(x_train, y_train)
eval_class(rf)

Accuracy (Test Set): 0.90
Precision (Test Set): 0.90
Recall (Test Set): 0.90
F1-Score (Test Set): 0.90
roc_auc (test-proba): 0.96
roc_auc (train-proba): 1.00

In [27]:
#evaluasi model KNN
knn.fit(x_train, y_train)
eval_class(knn)

Accuracy (Test Set): 0.85
Precision (Test Set): 0.81
Recall (Test Set): 0.93
F1-Score (Test Set): 0.86
roc_auc (test-proba): 0.92
roc_auc (train-proba): 0.97

In [28]:
#evaluasi model Logistic Regression
lr.fit(x_train, y_train)
eval_class(lr)

Accuracy (Test Set): 0.83
Precision (Test Set): 0.83
Recall (Test Set): 0.83
F1-Score (Test Set): 0.83
roc_auc (test-proba): 0.92
roc_auc (train-proba): 0.92

In [33]:
#evaluasi model Decision Tree
dt.fit(x_train, y_train)
eval_class(dt)

Accuracy (Test Set): 0.81
Precision (Test Set): 0.79
Recall (Test Set): 0.85
F1-Score (Test Set): 0.82
roc_auc (test-proba): 0.81
roc_auc (train-proba): 1.00

setelah dilakukan evaluasi pada ke-empat model diatas, model logistic regression memiliki hasil yang cukup baik (kurang eror)

In [34]:
#menambahkan model validasi (cross validation)
from sklearn.model_selection import cross_validate

In [36]:
#mengevaluasi model denga cross validation
for i in [lr, knn, dt, rf]:
     i.fit(x_train, y_train)
        
    score = cross_validate(i, x, y, cv=5, scoring='roc_auc', return_train_score=True)
    print(i.__class__.__name__, 'roc_auc (crossval train): '+ str(score['train_score'].mean()))
    print(i.__class__.__name__, 'roc_auc (crossval test): '+ str(score['test_score'].mean()))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [38]:
def cross_val(model):
    score = cross_validate(model, x, y, cv=5, scoring='roc_auc', return_train_score=True)
    print('roc_auc (crossval train): '+ str(score['train_score'].mean()))
    print('roc_auc (crossval test): '+ str(score['test_score'].mean()))

In [39]:
#cross validation Random Forest
rf.fit(x_train, y_train)
cross_val(rf)

roc_auc (crossval train): 1.0
roc_auc (crossval test): 0.9668598208954109

In [41]:
#cross validation KNN
knn.fit(x_train, y_train)
cross_val(knn)

roc_auc (crossval train): 0.9740759804968926
roc_auc (crossval test): 0.9293795450944395

In [42]:
#cross validation Logistic Regression
lr.fit(x_train, y_train)
cross_val(lr)

roc_auc (crossval train): 0.9189765683774815
roc_auc (crossval test): 0.9140132996504446

In [43]:
#cross validation Decision Tree
dt.fit(x_train, y_train)
cross_val(dt)

roc_auc (crossval train): 1.0
roc_auc (crossval test): 0.8090566472466344

dari hasil pengecekan menggunakan cross validation pada keempat model tersebut, hasil terbaik masih pada logistic regression